<form action="{{action_url}}" id="list-table-category" method="POST">
    <input type="hidden" name="view" value="category" />
    <input type="text" name="search" placeholder="Search category...." value="{{search_value}}" />
    <button class="btn" id="btn_search">Search</button>
    {{{table_documents}}}
</form>